body {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  gap: 40px;
  margin: 0px 20px;
}

.slide li {
  flex-shrink: 0;
  max-width: 800px;
  width: 80vw;
}

.slide {
  transform: translate3d(-200px, 0px, 0px);
}
